<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar | Ejército Argentino</title>
    <link rel="stylesheet" th:href="@{/css/create-edit.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
    <script th:src="@{/js/navbar.js}" defer></script>
</head>
<body>
<div th:insert="~{fragments/navbar :: navbar('edit')}"></div>
<main class="page-container">
    <h1>Editar Entidades</h1>
    <div class="page-options">
        <a th:href="@{/edit/user}" class="page-card">Editar Usuario</a>
        <a th:href="@{/edit/cuerpo}" class="page-card">Editar Cuerpo</a>
        <a th:href="@{/edit/compania}" class="page-card">Editar Compañía</a>
        <a th:href="@{/edit/cuartel}" class="page-card">Editar Cuartel</a>
    </div>
</main>
</body>
</html>
