<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title>Inicio | Ejército Argentino</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
    <script th:src="@{/js/navbar.js}" defer></script>
</head>
<body>
<div th:insert="~{fragments/navbar :: navbar('home')}"></div>
<section>
    <h1>Bienvenido, <span th:text="${#authentication.principal.username}">Usuario</span></h1>
</section>

<script th:src="@{/js/navbar.js}"></script>
</body>
</html>
