<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title>Profile | Ejército Argentino</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">
    <script th:src="@{/js/navbar.js}" defer></script>
</head>
<body>
<div th:insert="~{fragments/navbar :: navbar('profile')}"></div>
<div class="profile-page">
    <div class="profile-container">
        <div class="profile-header">
            <h1>Perfil de Usuario</h1>
            <img src="/img/profile-placeholder.png" alt="Imagen de perfil" class="profile-img">
        </div>
        <div class="profile-details">
            <p><strong>Nombre de Usuario:</strong> <span th:text="${user.username}">Username</span></p>
            <p><strong>Rango:</strong> <span th:text="${user.getRole().name()}">Role</span></p>
            <p><strong>Cuartel:</strong> <span th:text="${user.getCuartel() != null ? user.getCuartel().name : 'N/A'}">Cuartel</span></p>
            <p><strong>Ubicación del Cuartel:</strong> <span th:text="${user.getCuartel() != null ? user.getCuartel().location : 'N/A'}">Location</span></p>
            <p><strong>Compañía:</strong> <span th:text="${user.getCompania() != null ? user.getCompania().name : 'N/A'}">Compañía</span></p>
            <p><strong>Actividad de la Compañía:</strong> <span th:text="${user.getCompania() != null ? user.getCompania().actividad : 'N/A'}">Actividad</span></p>
            <p><strong>Cuerpo de Ejército:</strong> <span th:text="${user.getCuerpoEjercito() != null ? user.getCuerpoEjercito().denominacion : 'N/A'}">Cuerpo de Ejército</span></p>
        </div>
    </div>
</div>
</body>
</html>
